<!-- sidebar block -->
<ul class="sidebar-nav">
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/books">All books</a></li>
    <li><a href="/catalog/authors"></a>All authors</li>
    <li><a href="/catalog/genres"></a>All genres</li>
    <li><a href="/catalog/bookinstances"></a>All book-instances</li>
    <li><hr></li>
    <li><a href="/catalog/author/create"></a>Create new author</li>
    <li><a href="/catalog/genre/create"></a>Create new genre</li>
    <li><a href="/catalog/book/create"></a>Create new book</li>
    <li><a href="/catalog/bookinstance/create"></a>Create new book instance (copy)</li>
</ul>